.signup-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.signup-left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-title{
    margin: 0px;
}
.signup-img{
    height: 300px;
    width: 300px;
}
.register-btn{
    height: 40px;
    width: 100px;
    background-color: gray;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    color: white;
font-weight: bold;
}
.reset-btn{
    height: 40px;
    width: 100px;
    background-color:red;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.gender-box{
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.gender-option{
    width: 125px;
}