 .container{
     display: flex;
     height: 100vh;
     width:100vw;
     flex-direction: column;
 } 
.wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 90px;
    width: 80%;
    border: 1px solid #cccc;
    margin: 0px;
    background-color: aliceblue;
    border-radius: 3px;
    margin-left: 0px;
}
.img-wrapper{
    height: 90px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 85px;
    width: 85px;
}
.img:hover{
    height: 90px;
    width: 90px;
}
.item-title{
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item-price{
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 40px;
    width: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:antiquewhite ;
    border: 1px solid black;
    border-radius: 3px;
}
.btn:hover{
background-color:bisque;
}
.btn-text{
    margin: 0px 10px 0px 10px;
}
.content-wrapper{
    height:580px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
   align-items: center;
}
.selection-bar{
    height: 50px;
    width: 100%;
    position: fixed;
    top:40px;
    border-bottom: 1px solid #cccc;
    background-color: white;
    padding-left: 40px;
}
.formcontrol{
    width: 200px;
    margin-left: 40px;
}
.inputlabel{
    height: 40px;
    border: none;
}